/target
lib
classes
checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-plugins
.idea
.lein-cljsbuild-*
*.iml
node_modules
*.app
data/*
.DS_Store
out
repl
*.sublime-project
*.sublime-workspace
*.db
build

public/js/orchard.js
public/js/logger.js
public/js/tests.js
public/js/bootstrap.js

public/math.pdf
public/flute.wav

public/images/OSX_bg.psd
public/images/nav-bg.psd


couchdb.stderr
couchdb.stdout

*.dump
*.zip

.repl/
.floo

*.sublime-*
