/target
lib
classes
checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-plugins
.idea
.lein-cljsbuild-*
*.iml
node_modules
*.app
data/*
.DS_Store
out
repl
*.sublime-project
*.sublime-workspace
*.db
build

public/js/thinker.js
public/math.pdf
public/flute.wav
public/js/bootstrap.js

public/images/OSX_bg.psd
public/images/nav-bg.psd
test/