/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.idea
.lein-cljsbuild-*
*.iml
node_modules
public/js/thinker.js
/*.app

.DS_Store
/out
/repl

*.sublime-project
*.sublime-workspace
/node_modules

*.db

/build

/public/math.pdf

/public/flute.wav