#container {
  margin-top: 38px;
  user-select: none;
}


#drop-spot {
    border: 10px dashed #ccc;
    width: 300px;
    height: 300px;
    /*margin: 20px auto;*/
}

#drop-spot.hover {
    border: 10px dashed #333;
}

/*
  Don't allow text etc. to be select/highlighteable
 */
.unselectable {
   -webkit-user-select: none;
}

#left-text {
  border-right-width: 2px;
  border-right-style: solid;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

#right-text {
  overflow: scroll;
  height: 100%;
}


/* Login Page */
body.video-page{
  background: #EEE;
  .container .content { padding-top: 5%; }
}

.video-box{
  width: 400px;
  height: 500px;
  position: relative;
  @include border-radius(5px);
  margin: auto;
  padding: 20px;
  background: white;
}

.video-box .login-logo{
  margin: 10px 0 30px 0;
  display: block;
}

/*.video-box input.text{background-color: #f1f1f1; font-size: 16px; @include border-radius(0); padding: 14px 10px; width: 280px}*/

.video-box input.text.top{
  @include border-radius(5px 5px 0 0);
  margin-bottom: 0px;
}

.video-box input.text.bottom{
  @include border-radius(0 0 5px 5px);
  border-top: 0;
  margin-bottom: 20px;
}

.video-box input.text.middle{
  border-top: 0;
  margin-bottom:0px;
}

.video-box a.forgot{float: right; padding-top: 6px}

video {
  border-radius: 6px;
  padding: 5px;
}

.editor-btn-nav {
}

.button-bar {
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#new-project-btn {
    margin: 5px;
    margin-bottom: 1.2em;
}

.main-container {
  padding: 5px;
  padding-right: 15px;
  width: 98%;
}

#project-nav {
  /*width: 20%;*/
  /*display: none;*/
}

ul.modules {
  list-style-type: none;
  margin: 0;
}

li.modules-item {
}


.module {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
}


.template {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
}


.module-tray {
  opacity: 0;
  visibility: hidden;
}

.module .module-btn {
  position: relative;
  width: 20px;
  height: 19px;
  border-radius: 10px;
  right: -12px;
  float: right;
  top: -6px;
  -webkit-transition: .4s;
}


.module-content .module-editor {
  border-color: rgb(225, 225, 225);
  border-width: 1px;
  border-style: solid;
  /*margin: 10px;*/
  padding: 10px;
  border-radius: 5px;
}



/*Code Mirror*/

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.media-module-content {
  text-align: center;
}

.delete-btn {
  margin-left: 5px;
}


.media-place-holder {
  width: 150px;
  height: 250px;
}

.media-content {
  border-style: 1px solid black;
}

.center {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.spacer-tray {
  position: relative;
  top: -13px;
  height: 15px;
  margin-bottom: -10px;
}

.spacer-nav {
  display: none;
  list-style: none;
}

.popover-trigger {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 2px;
  border-radius: 10px;
  /*box-shadow: 0px 0px 4px #999999;*/
}

.popover-container {
  padding: 2px;
}

.popover-icon {
  padding: 2px;
}


.header-label {
  margin-left: 5px;
  box-shadow: 0px 0px 4px #999999;
}

.header-icon {
  margin-left: 4px;
  margin-right: 4px;
}

.module-link-label {
  position: relative;
  margin-right: 5px;
  top: -2px;
}

.top-nav {
  background-image: url("/images/osx-bg.png");
  background-repeat: repeat-x;
  position: fixed;
  width: 100%;
  height: 36px;
  top: 0px;
}

.nav-container {
    min-width: 200px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px;
}

.btn-nav-dark {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.nav-btn {
  margin: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-btn {
  position: relative;
  margin-top: 2px;
  padding: 2px;
}

.nav-input {
  font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
  font-size: 10px;
  line-height: 1.8;
  margin-top: 5px;
  width: 100%;
}


.log-list {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.log-row {
  font-family: 'arial';
  font-size: 12px;
  font-weight: 'light';

  border-bottom-style: solid;
  border-bottom-width: 1px; 
  border-bottom-color: rgb(240,240,240);
  
  margin: 0px;
  padding: 0px;
}

.log-row p {
  margin: 0px;
  padding: 0px;
}

#logger-tabs {
  background: white;
  width: 100%;
}

.logger-content-panes {
  margin-top: 40px;
}

.tabs-container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.log-pane {
  overflow: scroll;
}


.document-container {
  width: 95.5%;
  margin-left: 1.75%;
  position: absolute;
  top: 35;
}

.document {
  position: relative;
}

/*Sidebar*/

#sidebar ::-webkit-scrollbar-thumb { background: #999; border:1px solid #999; }

#sidebar-wrapper { background:transparent; }

ul#sidebar-tabs {
  list-style: none;
  margin: 3px;
  padding: 2px;
  position: relative;
  top: 1px;
  width: 20px;
  left: 0px;
}

#sidebar-content-wrapper {
  width: 100px;
  left: 10px;
  position: relative;
}


/*#sidebar-tabs li:hover, #sidebar-tabs .current { background:#ccc; color:#555; }*/

#sidebar-tabs li.btn {
  margin: 0;
  padding: 3px;
}

/*#sidebar-tabs .content { background:#ccc; color:#555; }
#sidebar .command input { color: #555; background:#eee; }
#sidebar .command em { border-bottom:1px solid #666; }
*/

.rotate-right {
  -webkit-transform: rotate(-90deg);
}

.modules-content {
 margin: 0px;
 padding: 0px;
}


.modules-content .item {
  width: 100px;
  background-color: rgb(100,200,180);
}

.vertical-grip {
  height: 100%;
  /*background-color: rgb(220,220,220);*/
  width: 3;
}