#drop-spot {
    border: 10px dashed #ccc;
    width: 300px;
    height: 300px;
    /*margin: 20px auto;*/
}

#drop-spot.hover {
    border: 10px dashed #333;
}

/*
  Don't allow text etc. to be select/highlighteable
 */
.unselectable {
   -webkit-user-select: none;
}

#left-text {
  border-right-width: 2px;
  border-right-style: solid;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

#right-text {
  overflow: scroll;
  height: 100%;
}


/* Login Page */
body.video-page{
  background: #EEE;
  .container .content { padding-top: 5%; }
}

.video-box{
  width: 400px;
  height: 500px;
  position: relative;
  @include border-radius(5px);
  margin: auto;
  padding: 20px;
  background: white;
}

.video-box .login-logo{
  margin: 10px 0 30px 0;
  display: block;
}

.video-box input.text{background-color: #f1f1f1; font-size: 16px; @include border-radius(0); padding: 14px 10px; width: 280px}

.video-box input.text.top{
  @include border-radius(5px 5px 0 0);
  margin-bottom: 0px;
}

.video-box input.text.bottom{
  @include border-radius(0 0 5px 5px);
  border-top: 0;
  margin-bottom: 20px;
}

.video-box input.text.middle{
  border-top: 0;
  margin-bottom:0px;
}

.video-box a.forgot{float: right; padding-top: 6px}

video {
  border-radius: 6px;
  padding: 5px;
}

.editor-btn-nav {
}

.button-bar {
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#new-project-btn {
    margin: 5px;
    margin-bottom: 1.2em;
}

.main-container {
  padding: 5px;
  padding-right: 15px;
  width: 98%;
}

#project-nav {
  /*width: 20%;*/
  /*display: none;*/
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 3px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 6px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 3px #333; }
}


.module {
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-mouseover-transition:.4s;
  mouseover-transition: border-color .4s ease-out;
}

.module:hover {
  border-color: rgb(225, 225, 225);
}

.module .module-btn {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: transparent;
  right: -6px;
  float:right;
  top: -7px;
  -webkit-transition:.4s;
  transition: background-color .4s ease-in;
}

.module:hover .module-btn {
    background-image: -webkit-radial-gradient(center, circle closest-side, #1271FF 0%, #81DDEF 100%);
    -webkit-transition:.1s;
    transition: background-color .1s ease-in;
}

.module .module-btn:hover {
  background-color: rgb(100, 200, 255);
}


.module-content .module-editor {
  border-color: rgb(225, 225, 225);
  border-width: 1px;
  border-style: solid;
  /*margin: 10px;*/
  padding: 10px;
  border-radius: 5px;
}



/*Code Mirror*/

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
