/**************************************************************************
    Document
**************************************************************************/

.document-container {
  width: 96%;
  margin-left: 1%;
  position: absolute;
  top: 30px;
}

.header-label {
  margin-left: 5px;
  box-shadow: 0px 0px 4px #999999;
}

.header-icon {
  margin-left: 4px;
  margin-right: 4px;
}

.header-btn {
  padding: 2px;
  margin: 4px;
}

/**************************************************************************
  Top Nav
***************************************************************************/

#nav-wrapper {
  background:transparent;
}

ul#nav-list {
  list-style: none;
  background: rgb(120 ,120 ,120 );
  position: fixed;
  width: 100%;
  top: 0px;
  margin: 0;
  overflow: hidden;
}


ul#nav-list li {
  display: inline;
}

ul#nav-list li.nav-element:hover {
  background:#ccc;
  color:#555;
}

.nav-element {
  margin: 0;
  padding: 8px;
  height: 30px;
  -webkit-user-select: none;
  user-select: none;

}

.nav-input-element {
  margin: 0;
  height: 30px; 
}

#nav-input {
  font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
  font-size: 12px;
  line-height: 1.8;
  width: 70px;
  position: relative;
  top: 0px;
}

.nav-input-element input#nav-input {
  height: 22px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 4px;
}

/**************************************************************************
    Sidebar
***************************************************************************/

#sidebar {
  position: absolute;
  left: 0px;
  z-index: 999;
}

#sidebar-wrapper {
  background:transparent;
}

ul#sidebar-tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 30px; /*block btn size*/
  background: rgb(220, 220, 220);
  position: absolute;
  top: 30px; /*block btn size*/
  left: 0px;
}

#sidebar-content-wrapper {
  width: 120px;
  top: 30px;
  position: relative;
}

#sidebar-tabs li:hover, #sidebar-tabs .current {
  background: rgb(200,200,200);
  color:#555;
}

.block-btn {
  margin: 0;
  padding: 8px;
  border-width: 1px;
  border-color: rgb(200,200,200);
  border-style: solid;
  -webkit-user-select: none;
  user-select: none;

}

.modules-content {
 margin: 0px;
 padding: 0px;
}

.modules-content .item {
  /*background-color: rgb(100,200,180);*/
}

.animated #sidebar .content-wrapper {
  -webkit-transition: width 0.1s ease-in-out; 
}

.modules-content-list {
  list-style: none;
  margin: 0px;
}

.modules-content-item {
  background: rgb(220, 220, 220);
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-style: solid;
}

.modules-content-item:hover {
  background: rgb(200, 200, 200);
  border-color: rgb(180, 180, 180);
  border-width: 1px;
  border-style: solid;
}

h2.sidebar-content-title {
  font-size: 16.5px;
  height: 36px;  /*This should only be 30...*/
  margin: 0;
  text-align: center;
  padding: 0;
}

/**************************************************************************
    Drag and drop
**************************************************************************/

#drop-spot {
    border: 10px dashed #ccc;
    width: 300px;
    height: 300px;
    /*margin: 20px auto;*/
}

#drop-spot.hover {
    border: 10px dashed #333;
}

/**************************************************************************
    Media module
**************************************************************************/

.button-bar {
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.media-module-content {
  text-align: center;
}

.media-place-holder {
  width: 150px;
  height: 250px;
}

.media-content {
  border-style: 1px solid black;
}

/**************************************************************************
    Helper classes
**************************************************************************/

.unselectable {
   -webkit-user-select: none;
}

#left-text {
  border-right-width: 2px;
  border-right-style: solid;
  height: 100%;
}

#right-text {
  overflow: scroll;
  height: 100%;
}

.center {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**************************************************************************
    Modules
***************************************************************************/

ul.modules {
  list-style-type: none;
  margin: 0;
}

li.modules-item {
}

.module {
  /*padding: 10px;*/
  /*margin-bottom: 5px;*/
  background-color: rgb(255, 255, 255);
}

/*.module:hover {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}*/

.modules-container {
  padding-left: 5px;
}

.module-tray {
  opacity: 0;
  visibility: hidden;
}

.module .module-btn {
  position: relative;
  width: 20px;
  height: 19px;
  border-radius: 10px;
  right: -12px;
  float: right;
  /*top: -6px;*/
  -webkit-transition: .4s;
}

.module-content .module-editor {
  border-color: rgb(225, 225, 225);
  border-width: 1px;
  border-style: solid;
  /*margin: 10px;*/
  padding: 10px;
  border-radius: 5px;
}

.spacer-tray {
  position: relative;
  top: -13px;
  height: 15px;
  margin-bottom: -10px;
}

.spacer-nav {
  display: none;
  list-style: none;
}

.popover-trigger {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 2px;
  border-radius: 10px;
  /*box-shadow: 0px 0px 4px #999999;*/
}

.popover-container {
  padding: 2px;
}

.popover-icon {
  padding: 2px;
}

.module-link-label {
  position: relative;
  margin-right: 5px;
  top: -2px;
}

/**************************************************************************
    Template
***************************************************************************/

.template {
  padding-left: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
}

/*.template:hover {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}*/

/**************************************************************************
    Code Mirror
***************************************************************************/

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

/**************************************************************************
    Application
***************************************************************************/

.main-container {
  padding: 5px;
  padding-right: 15px;
  width: 98%;
}

/**************************************************************************
    Logger
***************************************************************************/

.log-list {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.log-row {
  font-family: 'arial';
  font-size: 12px;
  font-weight: 'light';

  border-bottom-style: solid;
  border-bottom-width: 1px; 
  border-bottom-color: rgb(240,240,240);
  
  margin: 0px;
  padding: 0px;
}

.log-row p {
  margin: 0px;
  padding: 0px;
}

#logger-tabs {
  background: white;
  width: 100%;
}

.logger-content-panes {
  margin-top: 40px;
}

.tabs-container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.log-pane {
  overflow: scroll;
}

/**************************************************************************
    Draggable
***************************************************************************/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}